.playfair-display-fuente {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: <600>;
    font-style: normal;
}

header {
    background-image: url(https://images.impresa.pt/expresso/2025-02-19-ladygaga_1738631383_3560220544270381205_184692323.jpg-40790770/original);
    background-size: cover;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    position: relative;
    height: 100vh;
    letter-spacing: 40px;
    padding-top: 2%;
}

nav {
    position: top;
}

.fondo {
    background-color: black;
    color: #CEC7C7;
}

.alineacion {
    position: top;
    flex-direction: row;
}

.section1 {
    position: relative;
}

.carrusel {
    display: flex;
    flex-flow: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    height: 500px;
    gap: 80px;
    padding: 10px;
    justify-content: space-between;
    scroll-behavior: smooth;
    scrollbar-color: rgba(255, 255, 255, 0.05);
}

.albumes-viejos {
    height: 450px;
    width: 400px;
     background: rgba(255, 255, 255, 0.05); 
  backdrop-filter: blur(8px);           
  border: 1px solid rgba(255, 255, 255, 0.1); 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    justify-content: center;
    align-items: center;
    display: flex;
}

.albumes-viejos figure {
    text-align: center;
    margin: 0;
}

footer {
    position: bottom;

}